html {
    background-color: #5a5a5a;
}

h1 {
    color: rgb(255, 217, 0);
    text-align: center;
    font-size: 165%;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}